.container__benefits {
  background: #F1F1F1;
  padding: 50px 135px;

  .benefits_wrap {
    display: flex;
  }

  .container_element_block {
    display: flex;
    gap: 95px;
    height: 180px;

    > div {
      font-family: Lato, sans-serif;
      line-height: 27px;
      color: #231D1D;
      font-weight: 500;
      font-size: 18px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

      > img {
        max-width: 128px;
        max-height: 128px;
      }
      >span {
        text-align: center;
      }
    }
  }
}

@media (max-width: 1324px) {
  .container__benefits .container_element_block {
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 30px;
  }
}

@media (max-width: 1174px) {
  .container__benefits{
    padding: 40px 15px
  }
}

@media (max-width: 940px) {
  .container__benefits .container_element_block {
    justify-content: center;
    height: auto;
    gap: 53px;
    >div {
      max-width: 147px;
      text-align: center;
      gap: 20px;
      >span{
        max-width: 100px;
      }
      >img{
        min-width: 128px;
        min-height: 128px;
      }
    }
  }
  .option_mob {
    max-width: 120px!important;
  }
}