.container_company {
  padding-top: 53px;
  padding-bottom: 57px;
  background-image: url("../img/bg-company.png");
}

.company_title {
  display: flex;
  position: relative;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #fff;
  padding-bottom: 8px;
  margin-bottom: 50px;

  &:after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    background: #C4C4C4;
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    background: #FF6A08;
    width: 24px;
    z-index: 10;
  }
}

.description_company {
  max-width: 602px;
  //padding-top: 50px;
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  font-family: Lota, sans-serif;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.company_info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 30px;
  font-family: Lota, sans-serif;
  font-size: 16px;
  line-height: 24px;
  color: #231D1D;
  max-width: 513px;
  background: #fff;
  margin-left: 57px;

  >ul {
    margin-bottom: 22px;
    >li {
      margin-bottom: 25px;
      display: flex;
      align-items: flex-start;

      &:last-of-type {
        margin-bottom: 0!important;
      }
      >img{
        margin-right: 20px;
      }
      >div {
        display: flex;
        flex-direction: column;
      }
    }
  }

}

@media (max-width: 1180px) {
  .company_info {
    max-width: 100%;
    width: 100%;
    margin-left: 0;
  }

  .description_company {
    max-width: 100%;
    width: 100%;
    padding-bottom: 50px;
  }
}

@media (max-width: 780px) {
  .container_company{
    background-image: url("");
    padding-top: 0!important;
    padding-bottom: 0!important;

  }
  .description_company {
    padding: 40px 15px 104px;
    background-image: url("../img/bg-company.png");
  }

  .company_info {
    width: initial;
    flex: 1;
    margin: 0 15px;
    box-shadow: 0px 20px 40px rgba(158, 158, 158, 0.2);
    transform: translateY(-53px);
  }
}

@media (min-width: $minWidth+px) and (max-width: $maxWidth+px) {
  .company_title {
    @include adaptiv-value('font-size', 32, 24, 0);
  }

  .company_title {
    @include adaptiv-value('margin-bottom', 30, 17, 0);
  }
}