
.header__container {
  padding: 10px 0px 8px 0px;

  .wrapper__list {
    @include FAC;
    color: #231D1D;
    font-weight: 500;
    padding-left: 37px;
    font-size: 14px;
    font-family: Lato, sans-serif;

    .region {
      cursor: pointer;
      @include FAC;

      > span {
        margin: 0px 5px 0px 6px;
      }
    }

    .list__menu {
      display: flex;
      padding-left: 35px;
      margin-bottom: 0;
      width: 100%;

      li {
        position: relative;
        cursor: pointer;
        margin-right: 20px;
        > a {
          color: inherit;
        }

        &:hover {
          &:after {
            position: absolute;
            content: '';
            background-color: $colorBtn;
            width: 100%;
            height: 2px;
            left: 0;
            bottom: 0;
            transform: translateY(6px);
          }

        }

        &:last-of-type {
          margin-right: 0px !important;
        }
      }
    }
  }
}

.wrapper__social {
  @include FAC;
  padding-left: 50px;

  .container__social {
    display: flex;
    margin-bottom: 0;

    > li {
      cursor: pointer;
      @include FAC;
      justify-content: center;
      min-height: 30px;
      min-width: 30px;
      border-radius: 50%;
      border: 1px solid #4F4F4F;
      margin-right: 15px;

      &:last-of-type {
        margin-right: 0px !important;
      }

      >a {
        display: flex;
      }
    }
  }
}

.under__header {
  font-family: Lato, sans-serif;
  padding: 20px 0px;
  background-color: #F1F1F1;;

  .wrapper__under__header {
    align-items: center;

    .catalog {
      > span {
        font-family: Lato, sans-serif;
        font-weight: 600;
        font-size: 18px;
        color: #231D1D;
      }

      cursor: pointer;
      max-width: 233px;
      @include FAC;

      > img {
        margin-right: 13px;
      }
    }

    .search__container {
      width: 380px;
      .form__search {
        display: flex;
        width: 380px;
        > input {
          outline: none;
          height: 50px;
          font-size: 14px;
          font-family: Lato, sans-serif;
          max-width: 335px;
          width: 100%;
          border: 1px solid #E0E0E0;
          padding: 14px 20px 15px 20px;
        }

        > button {
          @include FAC;
          background: #fff;
          border: 1px solid #E0E0E0;
          border-left: none;
          justify-content: center;
          height: 50px;
          width: 44px;
        }
      }
    }


    .order-phone {
      @include FAC;
      margin-left: 57px;
      width: 381px;
      .phone {
        font-family: Lato, sans-serif;
        font-size: 18px;
        font-weight: 800;
        margin-right: 23px;
        > a {
          color: #231D1D;
        }
      }
    }

    .cart {
      @include FAC;
      flex: 1;
      padding-left: 44px;
      >a {
        &:first-of-type {
          margin-right: 19px;
        }
      }
    }
  }
}
.logo {
  width: 100%;
}

.burger_container {
  display: none;
}

.cross_burger {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 32px;
  width: 32px;
}

.header_cart {
  display: none;
}

.hide {
  display: none!important;
}

.menu-mobile {
  padding: 27px 25px 25px 33px;
  top: 54px;
  position: fixed;
  width: 100vw;
  height: calc(100vh - 54px);
  display: none;
  background: #fff;
  z-index: 39;
  transform: translateY(-100%);
  transition: transform 0.6s ease;
}

.open_menu {
  transform: translateY(0px);
  transition: transform 0.6s ease;
}

.catalog_mobile {
  font-family: Lota, sans-serif;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 16px;
  color: #231D1D;
  margin-bottom: 27px;

  >img {
    margin-right: 13px;
  }
}

.menu_mobile_list {
  position: relative;
  font-family: Lota, sans-serif;
  display: flex;
  flex-direction: column;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  a{
    color: #231D1D;

  }
  >li {
    margin-bottom: 20px;
    &:last-of-type {
      margin-bottom: 0!important;
    }
  }
  padding-bottom: 22px;
  border-bottom: 1px solid #E5E5E5;
}

.cart-mobile {
  display: flex;
  align-items: center;
  margin-bottom: 29px;
  margin-top: 24px;
  gap: 19px;
}

.phone_mobile {
  font-family: Lato, sans-serif;
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 22px;
  > a {
    color: #231D1D;
  }
}

.container__social_mob {
  display: flex;
  margin-bottom: 0;

    li {
    cursor: pointer;
    @include FAC;
    justify-content: center;
    min-height: 30px;
    min-width: 30px;
    border-radius: 50%;
    border: 1px solid #4F4F4F;
    margin-right: 15px;

    &:last-of-type {
      margin-right: 0px !important;
    }

    >a {
      display: flex;
    }
  }
}

.catalog_list_menu {
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 75;
  background: #fff;
  height: 100vh;
  >ul>li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: Lato, sans-serif;
    font-size: 16px;
    margin-bottom: 10px;
    >a {
      color: #231D1D;

    }
    &:last-of-type {
      margin-bottom: 0!important;
    }
  }
}

@media (max-width: $maxWidth+px) {
  .under__header .wrapper__under__header .order-phone .phone {
    font-size: 16px;
  }
}

@media (min-width: $minWidth+px) and (max-width: $maxWidth+px) {
  .under__header .wrapper__under__header .search__container {
    @include adaptiv-value('width',380,180,0);
  }
  .under__header .wrapper__under__header .search__container .form__search{
    @include adaptiv-value('width',380,180,0);
  }
  .wrapper__social {
    @include adaptiv-value('padding-left',50,0,0);
  }
}

@media (max-width: 1220px) {
  .wrapper__social-header {
    display: none;
  }

  .header__container {
    .wrapper__list {
      flex: 1;
      .list__menu {
        justify-content: flex-end;
      }
    }
  }

  .under__header .wrapper__under__header{
    justify-content: space-between;
    .cart {
      justify-content: flex-end;
      flex: none;
    }
    .order-phone {
      width: auto;
      margin-left: 0;
    }
  }

  .buttonCom {
    display: none;

  }
}

.burger_container {

  align-items: center;
  justify-content: center;
  display: none;
}


@media (max-width: 992px) {
  .header__container {
    position: fixed;
    width: 100%;
    top: 0;
    background: #fff;
    z-index: 40;
    padding: 0px 14px 0px 14px;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
    margin: 0;
    max-width: 100%;

    .wrapper__list {
      display: none;
    }
  }

  .menu-mobile {
    display: block;
  }

  .burger_container {
    height: 32px;
    width: 32px;
    display: flex;
    padding: 0;
  }

  .under__header {
    margin-top: 54px;
  }

  .header_cart {
    width: 25px;
    height: 25px;
    display: block;
    padding: 0;
  }

  .container_adap {
    padding: 4px 14px;
    align-items: center;
    justify-content: space-between;
  }

  .mob_logo {
    padding: 0;
    width: 156px;
    height: 46px;
  }

  .logo {
    width: 151px;
    height: 46px;
  }


  .under__header {
    background-color: transparent;
    padding: 12px 0px;

    >div {
      padding: 0px 15px;
      max-width: 100%;
      margin: 0;
    }
    .wrapper__under__header {
      padding: 0px 15px;
      .cart {
        display: none;
      }
      .catalog {
        display: none;
      }
    }
  }

  .buttonCom {
    display: block;
  }
}

@media (max-width: 750px) {
  .under__header .wrapper__under__header {
    .order-phone .phone {
      margin-right: 0px;
    }

    .search__container .form__search {
      > input {
        height: 40px;
      }
      >button {
        height: 40px;
      }
    }
    .buttonCom {
      display: none;
    }
  }
}

