.new_block {
  margin-top: 100px;
  margin-bottom: 100px;
}
.new_title {
  display: flex;
  position: relative;
  font-family: Lato, sans-serif;
  font-weight: 600;
  font-size: 32px;
  color: #231D1D;
  padding-bottom: 8px;
  margin-bottom: 23px;

  &:after {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    background: #C4C4C4;
    width: 100%;
  }

  &:before {
    content: '';
    position: absolute;
    height: 3px;
    left: 0;
    bottom: 0;
    border-radius: 5px;
    background: #FF6A08;
    width: 24px;
    z-index: 10;
  }
}

@media (min-width: $minWidth+px) and (max-width: $maxWidth+px) {
 .new_block {
   @include adaptiv-value('margin-top', 100, 80, 0);
   @include adaptiv-value('margin-bottom', 100, 80, 0);
 }
}

@media (max-width: 992px) {
  .new_list_mobile{
    margin-top: 22px!important;
  }
}