.popular__product {
  margin-top: 100px;
  margin-bottom: 100px;

  &-title {
    display: flex;
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #231D1D;
    padding-bottom: 8px;
    margin-bottom: 53px;

    &:after {
      content: '';
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      border-radius: 5px;
      background: #C4C4C4;
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      border-radius: 5px;
      background: #FF6A08;
      width: 76px;
      z-index: 10;
    }
  }

  .list__categories {
    align-items: center;

    > li {
      cursor: pointer;
      font-family: Lota sans-serif;
      font-size: 18px;
      font-weight: 500;
      color: #231D1D;
      margin-right: 60px;

      &:hover {
        color: #FF6A08;
      }

      &:last-of-type {
        margin-right: 0px !important;
      }
    }
  }

  .list__under {
    justify-content: center;
    margin-top: 35px;
  }

  .wrapper__slider {
    position: relative;

    .custom_next_button {
      min-height: 50px;
      min-width: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #FF6A08;
      @include FAC;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translate(70px, -50%);
      z-index: 10;
      right: 0;
      >img{
        transform: rotate(180deg);
      }
    }

    .custom_prev_button {
      min-height: 50px;
      min-width: 50px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      background: #FF6A08;
      @include FAC;
      justify-content: center;
      position: absolute;
      top: 50%;
      transform: translate(-70px, -50%);
      z-index: 10;
      left: 0;
    }

    .popular_container_slider {
      padding: 50px 0px 40px 0px;

      .__product {
        padding: 20px 0px 23px 0px;
        max-width: 270px;
        width: 100%;
        background: #FAFDFF;
        box-shadow: 0px 20px 40px rgba(158, 158, 158, 0.2);
        border-radius: 5px;
        max-height: 478px;
        height: 100%;

        .product__img {
          max-height: 228px;
          overflow: hidden;
          height: 100%;
          width: 100%;

          > img {
            width: 100%;
          }
        }

        .container__description {
          padding-left: 25px;
          padding-right: 15px;

          .product__description {
            margin-top: 20px;
            margin-bottom: 16px;

            .product__like {
              @include FAC;
              justify-content: space-between;
              font-family: Lota sans-serif;
              font-size: 14px;
              color: #231D1D;
              line-height: 21px;

              > img {
                cursor: pointer;
                padding-right: 7px;
              }
            }
          }

          .product__title {
            > h1 {
              font-family: Lota sans-serif;
              font-weight: 500;
              font-size: 16px;
              line-height: 24px;
              color: #231D1D;
              margin-bottom: 15px;
            }
          }

          .cost__cart {
            font-family: Lota, sans-serif;
            display: flex;
            justify-content: space-between;

            .container__cost {
              margin-bottom: 9px;

              .old__cost {
                text-decoration: line-through;
                margin-right: 27px;
                margin-bottom: 9px;
                font-size: 12px;
                color: #4F4F4F;
                line-height: 14px;
              }

              .cost {
                color: #FF6A08;
                font-size: 14px;
                line-height: 17px;
              }

              .current__cost {

              }
            }


            > button {
              @include FAC;
              border-radius: 5px;
              justify-content: center;
              background: #FF6A08;
              padding: 7px 12px;
              height: 50px;
              width: 60px;
            }

          }
        }

      }
    }

  }
  .more_product {
    cursor: pointer;
    font-family: Lota, sans-serif;
    font-weight: 500;
    font-size: 18px;
    a{
      color: #4F4F4F;
    }
    @include FAC;
    justify-content: flex-end;
    &-plus {
      @include FAC;
      justify-content: center;
      background: #FF6A08;
      width: 30px;
      height: 30px;
      margin-right: 19px;
      border-radius: 50%;
    }
  }
}