.container__stock {
  margin-bottom: 70px;
}

.stock_wrapper {
  width: auto;
  display: flex;
  margin-top: 100px;
  .stock_popular {
    display: flex;
    position: relative;
    font-family: Lato, sans-serif;
    font-weight: 600;
    font-size: 32px;
    color: #231D1D;
    padding-bottom: 8px;
    margin-bottom: 53px;

    &:after {
      content: '';
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      border-radius: 5px;
      background: #C4C4C4;
      width: 100%;
    }

    &:before {
      content: '';
      position: absolute;
      height: 3px;
      left: 0;
      bottom: 0;
      border-radius: 5px;
      background: #FF6A08;
      width: 24px;
      z-index: 10;
    }
  }
}

.container_stock_item {
  >div {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .container_stock_item {
    >div {
      display: flex;
      justify-content: center;
    }
  }
}